
<nav th:fragment="top" class="navbar navbar-nav">
	<div class="container-fluid">
		<div class="btn-group" role="group"
			aria-label="Button group with nested dropdown">
			<button th:tabindex="#{article.nav}" type="button" class="btn btn-info">Article</button>
			<div class="btn-group" role="group">
				<button id="btnGroupDrop3" type="button"
					class="btn btn-info dropdown-toggle" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true"></button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop3"
					x-placement="bottom-start"
					style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
					<a th:text="#{creation.nav}" class="dropdown-item" href="/article/create"></a>
					<a th:text="#{liste.nav}"class="dropdown-item" href="/article/list"></a>
				</div>
			</div>
		
			<button th:text="#{categorie.nav}" type="button" class="btn btn-info"></button>
			<div class="btn-group" role="group">
				<button id="btnGroupDrop3" type="button"
					class="btn btn-info dropdown-toggle" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true"></button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop3"
					x-placement="bottom-start"
					style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
					<a th:text="#{creation.nav}" class="dropdown-item" href="/categorie/create"></a>
					<a th:text="#{maj.nav}" class="dropdown-item" href="/categorie/update"></a>
					<a th:text="#{suppresion.nav}" class="dropdown-item" href="/categorie/delete"></a>
					<a th:text="#{liste.nav}"  class="dropdown-item" href="/categorie/list"></a>
				</div>
			</div>
		</div>
	</div>	
</nav>