<!DOCTYPE html>
<html>
<head>
<meta charset="UTF8">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<title>Formulaire ajout article</title>
</head>
<body>
<fieldset>
<legend>Ajout d'un article dans la base</legend>
<form  th:action="@{/article/create}" th:method="post">
<label>Code : </label><input type="text" th:field="*{article.code}">
<span th:if="${#fields.hasErrors('article.code')}" th:errors="${article.code}"></span>

<label>Nom : </label><input type="text" th:field="*{article.nom}">
<span th:if="${#fields.hasErrors('article.nom')}" th:errors="${article.nom}"></span>
<label>Prix HT : </label><input type="text" th:field="*{article.prix}">
<span th:if="${#fields.hasErrors('article.prix')}" th:errors="${article.prix}"></span>
<label>Description : </label><textarea rows="10" cols="10" th:field="*{article.description}"></textarea>
<span th:if="${#fields.hasErrors('article.description')}" th:errors="${article.description}"></span>
<label>Nombre de ventes : </label><input type="number" th:field="*{article.nbVentes}">
<span th:if="${#fields.hasErrors('article.nbVentes')}" th:errors="${article.nbVentes}"></span>
<label>Promo : </label><input type="number" th:field="*{article.promo}">
<label>Categorie : </label>
<select th:field="*{article.categorie}">

<option value="">Nouvelle</option>
<option th:each="cat : ${lstCategorie}" th:value="${cat.id}" th:text="${cat.nom}"></option>

</select>
<label>Image : (lien vers) </label><input type="text">
<input type=submit>
</form>
</fieldset>
</body>
</html>